table {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 210px;
    border-collapse: collapse;
    margin: 50px 50px 35px 45px;
    background-color: cornsilk
}
.head {
    color: darkslategrey;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
  
}
.mytable {
    color: darkred;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
table, th, td {
    border: 1px solid rgb(66, 66, 70);
}
td {
    text-align: left;
}